.google_map{
    width:55%;
    margin-left:2%;
    margin-right:2%;
    float: left;
}
.google_map iframe{
   width:75%;
}
.notes {
    width:12%;
    display:inline-block
}
.clearfix{
    clear:both
}