<<<<<<< HEAD
/* div {
    padding-top: 12px;
    padding-bottom: 12px
} */
=======
>>>>>>> master

.volunteer-assignment-main {
    height: 100vh;
}

.volunteer-assignment-content {
    height: 90%;
    overflow: scroll;
}
