/* ## */

.root{
    position: absolute;
    height: 56px;
    left: 24px;
    right: 24px;
    top: 24px;
}


/* Metric */
.metric{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 76px;
    display: flex;
    align-items: center;
    
}

/* Text / Primary */
.color{
    color: #051820;
}




/* Description */

.description{
    position: absolute;
    left: 24px;
    right: 24px;
    top: 88px;
    bottom: 24px;
}


/* Buttons */
.button{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
}


/* Text / Primary */
.color{
    color: #051820;
}




/* Ellipse 12 */

.ellipse{
    position: absolute;
    width: 60px;
    height: 60px;
    right: -16.66px;
    top: 24.41px;
}


/* Primary / Steel Blue */
.color{
    border: 18px solid #0075A3;
    box-sizing: border-box;
    transform: rotate(4deg);
}



/* Ellipse 10 */

.ellipse{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 13.03px;
    top: -19px;
}


/* Secondary / Turquoise */
.secondary{
    background: #89D9E0;
    transform: rotate(4deg);
}



/* Polygon 4 */

.polygon{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 113.39px;
    top: 0px;
}


/* Secondary / Lavender */
.lavender{
    background: #BFBAFF;
    transform: rotate(19.31deg);
}
